body{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

h1{
    text-align: center;
}

fieldset{
    border: 0px solid black;
}
#form{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#content{
    background-color: #b6b6b6;
    /*display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px 40px;
    margin: 0 auto;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
}

#bgContent{
    background-color: rgb(148, 148, 148);
    width: 200px;
    padding: 10px;
    border-radius: 6%;
    position: relative;
    margin: 0 auto;
    backdrop-filter: blur;
}

.dataField{
    margin: 10px auto 10px auto;
    display: block;
    position: relative;
    width:200px;
}
/*input{
    width: 40%;
    position: relative;
    background-color: aqua;
}*/

#submitBtn{
    text-align: center;
    margin: 0 auto;
    position: relative;
    color: red;
    width: 13%;
    display: block;
}

input{
    width: 50%;
    display: block;
    position: relative;
}
label{
    width: 50px;
    color: #000;
    display: block;
    position: relative;
}